
h1
{
	background-color: #edd6dd;
	color:black;
	text-align: center;
	padding: 1.3em;
	clear:both;
	letter-spacing: .2em;
	margin: 0;
	

}

h2 
{
	font-family: Trebuchet MS;
	text-align: center;
	background-color:#edd6dd;
	padding: 0.5em;
	margin: 0;
	letter-spacing: .1em;
}

h3
{
	background-color: #edd6dd;
	color:black;
	text-align: center;
	padding: 1.3em;
	clear:both;
	text-transform:uppercase;
	letter-spacing: .2em;
	padding-left: 1em;
	margin: 0;
}

p
{
	background-color:#f0f0f0;
	padding: 0.5em;
	margin: 0;
}


a:focus, a:hover, a:active
{
	color:#edd6dd;
}



