/*layout - about */

/* Create three unequal columns that floats next to each other */
.column 
{
  float: left;
  padding-top: 2em;
  padding-bottom: 5em;
 
}

.left 
{
  width: 27%;
  margin-left: 6em;
  
}

.right 
{
	width: 27%;
	margin-right: 6em;
	 
	
}

.middle 
{
  width: 33%;
  text-align: center;
  font-size: 16.5px;
  padding-right: 0.4em;
  
}
  


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
h2
{
	text-align: center;
	border:none;
	padding: 1em;
}

h3
{
	padding: 0.5em;
	margin-bottom: 0;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
.wrapper
{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
	column-gap: 10px;
	margin-left: 6em;
	margin-right: 6em;
	margin-top: 1em;
	margin-bottom: 6em;
	text-align: center;
}

