/*news-layout*/

p
{
font-size: 100%;
}

container
{
	width:100%;
	
	
}
/* create  the 2 column layout and float the elements */

#container main
{
	float:left;
	width:42%;
	padding: 2em 2em 8em 9em;
	height: 630px;
}
	
#container main p
{
	 height: auto;
	 text-align: center;
	 font-size: 16px;
	 padding-top:27px;
	 padding-bottom:30px;
	 margin:0;
	 border-left: 1px solid gray;
	
}

#container main h3
{
	margin: 0;
}
  
#container aside img 
{
  width: 723px;
  height: 683px;
  
}
#container aside
{
	float:right;
	width:58%;
	padding: 2em 9em 8em 1em;